
html, body { 
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body {
    background-color: whitesmoke;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}

@media screen and (min-width: 700px) {
    .mainContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height:100%;
    }
}

.contentContainer {
    display: flex;
    width:100%;
    height:100%;


}

.contentContainerHidden {
    display: none;
}

/*----  popupModal ----*/

.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:15rem;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.8);
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.modalContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin:auto;
    padding:1.8rem;
    border-radius:2rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.29);
    max-width: 25rem;
    
}



#btnModal {
   
    background-color: rgb(51, 80, 117);
    margin-top: 1rem;
    margin-bottom:1rem;
    color: #fffdfd;
    padding: 1rem 2rem;
    font-weight: bold;
    border: 2px solid rgb(185, 185, 185);
    -webkit-appearance: none;
    border-radius: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
#btnModal:hover { 
    background-color: rgb(15, 15, 124);

}

.underTitle {
    color: rgb(85, 85, 85);
    margin:0.5rem;
   

}




/*-- NavMenu--*/

.navContainer {
    width: 100%;
    height: auto;
    margin:0;
    background-color:#2d3492;
}

.navMenu {
    padding-inline-start: 0rem; 
    padding-top:0.9rem;
    padding-bottom: 0.9rem;
    font-size: 1.9rem;
    color:whitesmoke;
    cursor: pointer;
}
 
   ul {
    margin-block-start:0rem;
    margin-block-end: 0rem;
   }

li {
    display: inline; 
    padding: 0.9rem 1.6rem; 
    transition: all .4s ease-in-out;
}

li a {
    color: #fffdfd;
    text-decoration: none;   
}

li:hover {
   background-color: rgb(22, 24, 129);
   
}
.active {
    background-color: rgb(13, 14, 90);
   
   
}




/* ---- Q homepage ----- */

.containerBoard {
    display: flex;
    width:100%;
    height:100%;

}

.noteBordTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:rgb(114, 114, 114);
    font-size: 1.2rem;
    margin: 0;
    padding: 1.5rem;
    background-color: rgb(201, 200, 200);
}

.noteBoard {
    width: 25%;
    background-color: #f0eeee;
    box-shadow: -1px 1px 5px 4px rgba(0,0,0,0.17);
    overflow-y: scroll;
}

.noteBoard::-webkit-scrollbar { 
    display: none;
} 

.noteContainer {
    justify-content: center;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.34);
}

.noteContent{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding:1.5rem;
    text-align: start;
    border-bottom-style: solid;
    border-width:thin;
    border-color: rgb(221, 221, 221);
    cursor: pointer; 
    word-break: break-all;   
}


.title {
    margin:0;
}

.starAndTitleContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom:1.5rem;
}


.dateAndTrashBtnContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  
}

.date {
    margin-block-end: 0rem;
    margin-block-start:0rem;

}

.noteContentActive{
    background-color: #fffdfd;

}

.noteEditor {
    box-shadow: 6px 7px 20px 0px rgba(0,0,0,0.3);
    background-color: #fffdfd;
    width: 85%;
    overflow-y: scroll;

}

@media screen and (max-width: 900px) {

    .containerBoard {
        flex-direction: column;
    }

    .noteBoard {
        width: 100%;
        max-height: 34rem;
        min-height: 8rem;
    }
    
    .noteEditor {
        width: 100%;
        height: 100%;
    }


}





.favoriteBtnContainer {
    padding-left: 1rem;
}


.favoriteBtn {
    height: 0rem;
    font-size: 1.5rem;
    color: rgb(144, 144, 144);

}


.favoriteBtnActive {
    color:rgb(245, 221, 2);
    transform: scale(1.1);
    
}

.date {
    color:rgb(102, 102, 102);
    font-size: 0.9rem;
}



.deleteBtnContainer {
    visibility: hidden;
    height: 0rem;
    font-size: 1.3rem;
    margin-right: 0.3rem;
    

}

.deleteBtnContainerActive {
    visibility: visible;
}



.deleteBtn:hover {
    transform: scale(1.1);
}

/*---- addnote Modal ----*/

.addNoteContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:20rem;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.2);
}


.addNoteContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding:1.8rem;
    border-radius:2rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.29);
    max-width: 25rem;
    
}

#yesBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#yesBtn:hover {
    background-color: rgb(101, 187, 140);

}


#noBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#noBtn:hover {
    background-color:rgb(211, 80, 80);
}

#addNoteBtn {
    
    position: fixed;
    width: 65px;
    height:65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    right:2rem;
    bottom:2rem;
    padding:30xp;
    font-size: 2rem;

     color:white;
     background-color: rgb(22, 24, 129);
     cursor: pointer;
     transition: all .2s ease-in-out;
     z-index: 1;
}

#addNoteBtn:hover {
    transform: scale(1.1);
}

#textEditor {
   word-break: break-all;
   padding:2rem;
}

#btnSave {
 
    position: fixed;
    width: 65px;
    height:65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    right:11rem;
    bottom:2rem;
    padding:30xp;
    font-size: 2rem;
    z-index: 1;
    

    color:white;
    background-color: rgb(22, 24, 129);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#btnSave:hover {
    transform: scale(1.1);

}

#btnPrint {
    
    position: fixed;
    width: 65px;
    height:65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    right:6.5rem;
    bottom:2rem;
    padding:30xp;
    font-size: 2rem;
    z-index: 1;
    

    color:white;
    background-color: rgb(22, 24, 129);
    cursor: pointer;
    transition: all .2s ease-in-out;

}

#btnPrint:hover{
    transform: scale(1.1);
}

.searchField{
    display: none;
    width: 16.5rem;
    font-size: 2rem;

}
.searchFieldActive {
    display: block;
    padding:0.5rem;
    width: 16.5rem;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 0.2rem;
}

.statisticContainer {
    display: none;
    width:100%;
    height:100%;
    
}
.statisticContainerActive {
    display: flex;
    
    
}

.stastisticContent {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
}

.box {
    
    margin-top: 3rem;
    text-align: center;
    border: solid;
    border-width: thin;
    background-color: white;
    border-color: rgb(200, 200, 200);
    padding:1rem;
    border-radius: 0.2rem;
    width: 16rem;
    height: 8rem;
    color: rgb(95, 95, 95);
    box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.08);
    margin-left: 3rem;
    
}

.bigNummer {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: rgb(22, 24, 129);
}

.latestUpdate {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(22, 24, 129);

}

.statisticTitleContainer {
    flex-direction: row;
    text-align: center;
}
.statisticTitle {
    margin-top:4rem;
    font-size: 2rem;
    

}
.statisticTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(87, 87, 87);
}

.boxContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
} 

@media screen and (min-width: 700px) {
    .navContainer {
        width: auto;
        height: 100%;
        background-color:#2d3492;   
    
    }

    .navMenu {
        margin-block-start: 0rem;
        padding-top:0rem;
        font-size: 2.5rem;
        cursor: pointer;
    }
    
    li {
        display:list-item;  
        
    }

}

.deleteNoteContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:20rem;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.2);
}
.deleteNoteContainerActive{
    display: block;

}

.deleteNoteContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin:auto;
    padding:1.8rem;
    border-radius:2rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.29);
    max-width: 25rem;

}

#yesDeleteBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#yesDeleteBtn:hover {
    background-color: rgb(101, 187, 140);

}

#noDeleteBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#noDeleteBtn:hover {
    background-color:rgb(211, 80, 80);
}