
html, body { 
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}


:root {
  
    --noteEditor-background-color: #fffdfd;
    --text-color:rgb(15, 15, 15);

    --modalColor-background-color:rgb(255, 255, 255);
    --searchBackground-background-color:rgb(255, 255, 255);
    
    --NavMenu-background-color:#2d3492;
    --navMenuActive-background-color:rgb(13, 14, 90);
    --navMenuHover-background-color:rgb(22, 24, 129);

    --notBoardColor-background-color:#f0eeee;
    --noteFrame-border-color: rgb(221, 221, 221);
    --noteContentHover-background-color: rgb(228, 228, 224);
    --noteActiveEditor-background-color: #fffdfd;


    --noteTitle-color:rgb(37, 37, 37);
    --noteBar-background-color: rgb(201, 200, 200);
    --notBarTitle-color:rgb(114, 114, 114);
    --date-color:rgb(102, 102, 102);
    --icon-color:whitesmoke;
    --iconTrash-color: rgb(61, 61, 61);
    --btnIcons-color:white;

    --favoriteBtnActive-color:rgb(245, 221, 2);

    --statisticPage-background-color: rgb(240, 240, 240);
    --statisticBox-background-color:white;
    --statisticBoxTitle-color: rgb(95, 95, 95);
    --statisticTitle-color: rgb(87, 87, 87);
    --statisticText-color: rgb(22, 24, 129);
}


body {
    background-color:var(--mainContent-background-color);
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    
}


.contentContainer {
    display: flex;
    width:100%;
    height:100%;

}

.contentContainerHidden {
    display: none;
}


.modalContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:15rem;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(201, 201, 201, 0.8);
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.modalContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin:auto;
    padding:1.8rem;
    border-radius:2rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.29);
    max-width: 25rem;
    
}


#btnModal {
   
    background-color: rgb(51, 80, 117);
    margin-top: 1rem;
    margin-bottom:1rem;
    color: #fffdfd;
    padding: 1rem 2rem;
    font-weight: bold;
    border: 2px solid rgb(185, 185, 185);
    -webkit-appearance: none;
    border-radius: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

#btnModal:hover { 
    background-color: rgb(15, 15, 124);

}

.underTitle {
    color: rgb(85, 85, 85);
    margin:0.5rem;
   

}


.navContainer {
    width: 100%;
    height: auto;
    margin:0;
    background-color: var(--NavMenu-background-color);
}

.navMenu {
    padding-inline-start: 0rem; 
    padding-top:0.9rem;
    padding-bottom: 0.9rem;
    font-size: 1.9rem;
    color: var(--icon-color);
    cursor: pointer;
}
 
   ul {
    margin-block-start:0rem;
    margin-block-end: 0rem;
   }

li {
    display: inline; 
    padding: 0.9rem 1.6rem; 
    transition: all .4s ease-in-out;
}

li a {
    color: #fffdfd;
    text-decoration: none;   
}

li:hover {
   background-color:var(--navMenuHover-background-color);
   
}
.active {
    background-color:var(--navMenuActive-background-color);
   
   
}


.containerBoard {
    display: flex;
    width:100%;
    height:100%;

}

.noteBordTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:var(--notBarTitle-color);
    font-size: 1.2rem;
    margin: 0;
    padding: 1.5rem;
    background-color:var(--noteBar-background-color);
}

.noteBoard {
    width: 25%;
    background-color: var(--notBoardColor-background-color);
    box-shadow: -1px 1px 5px 4px rgba(0,0,0,0.17);
    overflow-y: scroll;
}

.noteBoard::-webkit-scrollbar { 
    display: none;
} 

.noteContainer {
    justify-content: center;
    box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.34);
}

.noteContent{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding:1.5rem;
    text-align: start;
    border-bottom-style: solid;
    border-width:thin;
    border-color:var(--noteFrame-border-color);
    cursor: pointer; 
    word-break: break-all;   
}

.noteContent:hover {
    background-color:var(--noteContentHover-background-color);
}


.title {
    margin:0;
    color:var(--noteTitle-color);
}

.starAndTitleContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom:1.5rem;
}


.dateAndTrashBtnContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  
}

.date {
    
    color:var(--date-color);
    font-size: 0.9rem;
    margin-block-end: 0rem;
    margin-block-start:0rem;
    margin-right: 0.1rem;

}

.noteContentActive{
    background-color:var(--noteActiveEditor-background-color);

}
.noteContentActive:hover {
    background-color:var(--noteActiveEditor-background-color);
}

.noteEditor {
    box-shadow: 6px 7px 20px 0px rgba(0,0,0,0.3);
    background-color:var(--noteEditor-background-color);
    color:var( --text-color);
    width: 85%;
    overflow-y: scroll;

}

@media screen and (max-width: 900px) {

    .containerBoard {
        flex-direction: column;
    }

    .noteBoard {
        width: 100%;
        max-height: 34rem;
        min-height: 8rem;
    }
    
    .noteEditor {
        width: 100%;
        height: 100%;
    }


}


.favoriteBtnContainer {
    padding-left: 1rem;
}


.favoriteBtn {
    height: 0rem;
    font-size: 1.5rem;
    color: rgb(144, 144, 144);

}


.favoriteBtnActive {
    color:var(--favoriteBtnActive-color);
    transform: scale(1.1);
    
}


.deleteBtnContainer {
    visibility: hidden;
    height: 0rem;
    font-size: 1.3rem;
    margin-right: 0.3rem;
}

.deleteBtnContainerActive {
    visibility: visible;
}

.deleteBtn {
    color:var(--iconTrash-color);
}

.deleteBtn:hover {
    transform: scale(1.1);
}


.addNoteContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:20rem;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.2);
}


.addNoteContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color:var(--text-color);
    background-color: var(--modalColor-background-color);
    margin:auto;
    padding:1.8rem;
    border-radius:2rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.29);
    max-width: 25rem;
    
}

#yesBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#yesBtn:hover {
    background-color: rgb(101, 187, 140);

}


#noBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#noBtn:hover {
    background-color:rgb(211, 80, 80);
}

#addNoteBtn {
    
    position: fixed;
    width: 65px;
    height:65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    right:2rem;
    bottom:2rem;
    padding:30xp;
    font-size: 2rem;

     color:var(--btnIcons-color);
     background-color:var(--NavMenu-background-color);
     cursor: pointer;
     transition: all .2s ease-in-out;
     z-index: 1;
}

#addNoteBtn:hover {
    transform: scale(1.1);
}

#textEditor {
   word-break: break-word;
   padding:2rem;
}

#btnSave {
 
    position: fixed;
    width: 65px;
    height:65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    right:11rem;
    bottom:2rem;
    padding:30xp;
    font-size: 2rem;
    z-index: 1;
    

    color:var(--btnIcons-color);
    background-color:var(--NavMenu-background-color);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#btnSave:hover {
    transform: scale(1.1);

}

#btnPrint {
    
    position: fixed;
    width: 65px;
    height:65px;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    vertical-align: middle;
    right:6.5rem;
    bottom:2rem;
    padding:30xp;
    font-size: 2rem;
    z-index: 1;
    

    color:var(--btnIcons-color);
    background-color:var(--NavMenu-background-color);
    cursor: pointer;
    transition: all .2s ease-in-out;

}

#btnPrint:hover{
    transform: scale(1.1);
}

.searchField{
    display: none;
    width: 16.5rem;
    font-size: 2rem;

}
.searchFieldActive {
    display: block;
    padding:0.5rem;
    width: 16.5rem;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 0.2rem;
    background-color:var(--searchBackground-background-color);
    color:var(--text-color);
}

.statisticContainer {
    display: none;
    width:100%;
    height:100%;
    overflow-y:scroll;
    
}

.statisticContainerActive {
    display: flex;
    
    
}

.stastisticContent {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    background-color:var(--statisticPage-background-color);
    height: 100%;
    width: 100%;
}

.box {
    
    margin-top: 3rem;
    text-align: center;
    border: solid;
    border-width: thin;
    background-color:var(--statisticBox-background-color);
    border-color: rgb(200, 200, 200);
    padding:1rem;
    border-radius: 0.2rem;
    width: 16rem;
    height: 8rem;
    color:var(--statisticBoxTitle-color);
    box-shadow: 7px 6px 5px -2px rgba(0,0,0,0.08);
    margin-left: 3rem;
    
}

.bigNummer {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color:var(--statisticText-color);
}

.latestUpdate {
    text-align: center;
    font-size: 1.5rem;
    color: var(--statisticText-color);

}

.statisticTitleContainer {
    flex-direction: row;
    text-align: center;
}
.statisticTitle {
    margin-top:4rem;
    font-size: 2rem;
    

}
.statisticTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:var(--statisticTitle-color);
}

.boxContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
} 


.deleteNoteContainer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top:20rem;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 216, 216, 0.2);
}
.deleteNoteContainerActive {
    display: block;

}

.deleteNoteContent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--modalColor-background-color);
    margin:auto;
    padding:1.8rem;
    border-radius:2rem;
    box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.29);
    max-width: 25rem;

}

#yesDeleteBtn {    
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#yesDeleteBtn:hover {
    background-color: rgb(101, 187, 140);

}

#noDeleteBtn {
    font-size: 1.2rem;
    padding:0.2rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

#noDeleteBtn:hover {
    background-color:rgb(211, 80, 80);
}



@media print {
    .navContainer, .noteBoard, #btnSave, #btnPrint, #addNoteBtn {
        display: none;
    }
    .noteEditor {
        box-shadow: none;
        width: 100%;
        overflow:hidden;

    }
}

  


@media screen and (min-width: 700px) {
    .mainContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height:100%;
    }
    .navContainer {
        width: auto;
        height: 100%;
        background-color:var(--NavMenu-background-color);   
    
    }

    .navMenu {
        margin-block-start: 0rem;
        padding-top:0rem;
        font-size: 2.5rem;
        cursor: pointer;
    }
    
    li {
        display:list-item;  
        
    }
}

@media (prefers-color-scheme:dark) {

    :root {
        --mainContent-background-color: rgb(85, 85, 85);
        --noteEditor-background-color: #626262;
        --searchBackground-background-color:rgb(36, 36, 36);
        
        --modalColor-background-color:rgb(66, 66, 66);

        --NavMenu-background-color:#080d3b;
        --navMenuActive-background-color:rgba(0, 1, 26, 0.774);
        --noteFrame-border-color: rgb(128, 128, 128);
        --navMenuHover-background-color:rgb(8, 8, 24);

        --text-color:rgb(251, 251, 251);
        --notBoardColor-background-color:#505050;
        --noteContentHover-background-color: rgb(53, 53, 53);
        --noteActiveEditor-background-color: #2c2c2c;

        --noteTitle-color:rgb(255, 255, 255);
        --noteBar-background-color: rgb(59, 59, 59);
        --notBarTitle-color:rgb(177, 177, 177);
        --date-color:rgb(206, 206, 206);
        --icon-color:whitesmoke;
        --iconTrash-color: rgb(206, 206, 206);
        --btnIcons-color:rgb(255, 255, 255);

        --favoriteBtnActive-color:rgb(224, 204, 22);

        --statisticPage-background-color: rgb(85, 85, 85);
        --statisticBox-background-color:rgb(66, 66, 66);
        --statisticBoxTitle-color: rgb(221, 221, 221);
        --statisticTitle-color: rgb(236, 236, 236);
        --statisticText-color: rgb(9, 10, 75);

    }
}
 

   

